In [53]:
import pandas as pd
import numpy as np
import scipy.stats as sps
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as skl
%matplotlib inline

In [54]:
%%time
data=pd.read_csv('Filled In Missing Value Project 2.csv')

CPU times: user 223 ms, sys: 46.3 ms, total: 269 ms
Wall time: 276 ms

In [55]:
data.head()

,Unnamed: 0,Recnum,Cardnum,Date,Merch description,Transtype,Amount,Fraud,Merch state,Merch zip,Merchnum
0,0,1,5142190439,1/1/10,FEDEX SHP 12/23/09 AB#,P,3.62,0,TN,38118.0,5509006296254
1,1,2,5142183973,1/1/10,SERVICE MERCHANDISE #81,P,31.42,0,MA,1803.0,61003026333
2,2,3,5142131721,1/1/10,OFFICE DEPOT #191,P,178.49,0,MD,20706.0,4503082993600
3,3,4,5142148452,1/1/10,FEDEX SHP 12/28/09 AB#,P,3.62,0,TN,38118.0,5509006296254
4,4,5,5142190439,1/1/10,FEDEX SHP 12/23/09 AB#,P,3.62,0,TN,38118.0,5509006296254

In [56]:
mydata = data.iloc[:,1:]
mydata.head()

,Recnum,Cardnum,Date,Merch description,Transtype,Amount,Fraud,Merch state,Merch zip,Merchnum
0,1,5142190439,1/1/10,FEDEX SHP 12/23/09 AB#,P,3.62,0,TN,38118.0,5509006296254
1,2,5142183973,1/1/10,SERVICE MERCHANDISE #81,P,31.42,0,MA,1803.0,61003026333
2,3,5142131721,1/1/10,OFFICE DEPOT #191,P,178.49,0,MD,20706.0,4503082993600
3,4,5142148452,1/1/10,FEDEX SHP 12/28/09 AB#,P,3.62,0,TN,38118.0,5509006296254
4,5,5142190439,1/1/10,FEDEX SHP 12/23/09 AB#,P,3.62,0,TN,38118.0,5509006296254

In [57]:
mydata.shape

(96397, 10)

In [58]:
type(mydata['Date'])

pandas.core.series.Series

In [59]:
mydata['Date'] = pd.to_datetime(mydata['Date'])

In [60]:
data_sorted = mydata

In [61]:
#Cardnum, Merchnum
for groupbyvar in ['Cardnum', 'Merchnum']:
    data_sorted = data_sorted.sort_values(by = [groupbyvar, 'Date'])
    data_sorted_index = data_sorted.set_index('Date')
    for agg in ['mean', 'max', 'median', 'sum', 'count']: 
        for days in ['1d', '3d', '7d', '14d', '30d']:
            data_sorted[agg + '_' + groupbyvar + "_" + days]=getattr(data_sorted_index.groupby(groupbyvar)['Amount'].rolling(days),agg)().values
            data_sorted['Actual/' + agg + "_" + groupbyvar + "_" + days] = data_sorted['Amount']/data_sorted[agg + '_' + groupbyvar + "_" + days]

In [62]:
data_sorted.head(20)

,Recnum,Cardnum,Date,Merch description,Transtype,Amount,Fraud,Merch state,Merch zip,Merchnum,...,count_Merchnum_1d,Actual/count_Merchnum_1d,count_Merchnum_3d,Actual/count_Merchnum_3d,count_Merchnum_7d,Actual/count_Merchnum_7d,count_Merchnum_14d,Actual/count_Merchnum_14d,count_Merchnum_30d,Actual/count_Merchnum_30d
813,818,5142230669,2010-01-06,TOMMY'S TRAILERS,P,48.97,0,OK,74820.0,0,...,1.0,48.97,1.0,48.970000,1.0,48.970000,1.0,48.970000,1.0,48.970000
1398,1403,5142159706,2010-01-07,INTERACTIVE SOFTWARE S,P,460.00,0,TN,38118.0,0,...,1.0,460.00,2.0,230.000000,2.0,230.000000,2.0,230.000000,2.0,230.000000
1217,1222,5142231496,2010-01-07,TOMMY'S TRAILERS,P,87.02,0,OK,74820.0,0,...,2.0,43.51,3.0,29.006667,3.0,29.006667,3.0,29.006667,3.0,29.006667
2163,2169,5142141358,2010-01-11,REED BUSINESS PUBLISHI,P,110.00,0,TN,38118.0,0,...,1.0,110.00,1.0,110.000000,4.0,27.500000,4.0,27.500000,4.0,27.500000
2084,2090,5142243966,2010-01-11,ESTUARINE RESEARCH FDRTN,P,25.00,0,MD,20676.0,0,...,2.0,12.50,2.0,12.500000,5.0,5.000000,5.0,5.000000,5.0,5.000000
3078,3085,5142181519,2010-01-14,WILDCO OR WILDLIFE,P,553.99,0,MI,48602.0,0,...,1.0,553.99,1.0,553.990000,3.0,184.663333,6.0,92.331667,6.0,92.331667
5865,5874,5142182005,2010-01-27,REED BUSINESS PUBLISHI,P,110.00,0,TN,38118.0,0,...,1.0,110.00,1.0,110.000000,1.0,110.000000,2.0,55.000000,7.0,15.714286
8362,8373,5142132574,2010-02-06,THE INTERNATIONAL ALLIANC,P,260.00,0,MD,21152.0,0,...,1.0,260.00,1.0,260.000000,1.0,260.000000,2.0,130.000000,5.0,52.000000
15036,15056,5142256964,2010-03-02,WILDCO OR WILDLIFE,P,194.80,0,MI,48602.0,0,...,1.0,194.80,1.0,194.800000,1.0,194.800000,1.0,194.800000,2.0,97.400000
16410,16431,5142300377,2010-03-07,BRITISH CROP PROTECTIO,P,430.00,0,TN,38118.0,0,...,1.0,430.00,1.0,430.000000,2.0,215.000000,2.0,215.000000,3.0,143.333333
19499,19532,5142231496,2010-03-17,TIERRA MADRE ENVIR COR,P,150.00,0,OK,74820.0,0,...,1.0,150.00,1.0,150.000000,1.0,150.000000,2.0,75.000000,3.0,50.000000
20213,20247,5142212179,2010-03-20,BMJ,P,19.44,0,TN,38118.0,0,...,1.0,19.44,1.0,19.440000,2.0,9.720000,3.0,6.480000,4.0,4.860000
21269,21307,5142174063,2010-03-23,WILDCO OR WILDLIFE,P,1036.54,0,MI,48602.0,0,...,1.0,1036.54,1.0,1036.540000,3.0,345.513333,3.0,345.513333,5.0,207.308000
25948,26010,5142273808,2010-04-10,EYRE BUS SERVICE INC,P,563.68,0,MD,21737.0,0,...,1.0,563.68,1.0,563.680000,1.0,563.680000,1.0,563.680000,4.0,140.920000
27901,27976,5142149994,2010-04-17,THE PESTICIDES TRUST,P,68.00,0,TN,38118.0,0,...,1.0,68.00,1.0,68.000000,1.0,68.000000,2.0,34.000000,4.0,17.000000
29976,30056,5142146833,2010-04-25,ROYAL SOCIETY OF CHEMI,P,48.00,0,TN,38118.0,0,...,1.0,48.00,1.0,48.000000,1.0,48.000000,2.0,24.000000,3.0,16.000000
30287,30368,5142189108,2010-04-26,WILDCO OR WILDLIFE,P,588.16,0,MI,48602.0,0,...,1.0,588.16,2.0,294.080000,2.0,294.080000,3.0,196.053333,4.0,147.040000
32669,32762,5142168483,2010-05-03,THE BRITISH LIBRARY,P,103.53,0,TN,38118.0,0,...,1.0,103.53,1.0,103.530000,1.0,103.530000,3.0,34.510000,5.0,20.706000
32962,33057,5142235487,2010-05-04,WILDCO OR WILDLIFE,P,320.92,0,MI,48602.0,0,...,1.0,320.92,2.0,160.460000,2.0,160.460000,4.0,80.230000,6.0,53.486667
33593,33693,5142249750,2010-05-07,GLEN PRICE,P,235.42,0,TN,38118.0,0,...,1.0,235.42,1.0,235.420000,3.0,78.473333,5.0,47.084000,7.0,33.631429

In [63]:
#Cardnum and Merchnum, Cardnum and Zip, Cardnum and state
for groupbyvar in ['Merchnum', 'Merch zip', 'Merch state']:
    data_sorted = data_sorted.sort_values(by = ['Cardnum',groupbyvar, 'Date'])
    data_sorted_index = data_sorted.set_index('Date')
    for agg in ['mean', 'max', 'median', 'sum', 'count']: 
        for days in ['1d', '3d', '7d', '14d', '30d']:
            data_sorted[agg + '_' + "Cardnum_" + groupbyvar + "_" + days] = getattr(data_sorted_index.groupby(['Cardnum',groupbyvar])['Amount'].rolling(days),agg)().values
            data_sorted['Actual/' + agg + "_" + "Cardnum_" + groupbyvar + "_" + days] = data_sorted['Amount']/data_sorted[agg + '_' + "Cardnum_" + groupbyvar + "_" + days]

In [64]:
#Create days since variables
data_sorted1 = data_sorted
for groupbyvar in [['Cardnum'], ['Merchnum'], ['Cardnum', 'Merchnum'], ['Cardnum', 'Merch zip'], ['Cardnum', 'Merch state']]:
    sortCols = groupbyvar[:]
    sortCols.append('Date')
    data_sorted1 = data_sorted1.sort_values(by = sortCols)
    if len(groupbyvar) == 1:
        data_sorted1['Days_since_per_' + groupbyvar[0]] = data_sorted1.groupby(groupbyvar)['Date'].apply(lambda x: (x - x.shift(1)).astype('timedelta64[D]')).fillna(365).values 
    else:
        data_sorted1['Days_since_per_Cardnum_' + groupbyvar[1]] = data_sorted1.groupby(groupbyvar)['Date'].apply(lambda x: (x -x.shift(1)).astype('timedelta64[D]')).fillna(365).values

In [65]:
data_sorted1.head()

,Recnum,Cardnum,Date,Merch description,Transtype,Amount,Fraud,Merch state,Merch zip,Merchnum,...,Actual/count_Cardnum_Merch state_7d,count_Cardnum_Merch state_14d,Actual/count_Cardnum_Merch state_14d,count_Cardnum_Merch state_30d,Actual/count_Cardnum_Merch state_30d,Days_since_per_Cardnum,Days_since_per_Merchnum,Days_since_per_Cardnum_Merchnum,Days_since_per_Cardnum_Merch zip,Days_since_per_Cardnum_Merch state
80801,81127,5142110002,2010-10-12,X REVERSAL OF CR BAL REF,P,150.0,0,VA,22202.0,9900020006406,...,150.0,1.0,150.0,1.0,150.0,365.0,5.0,365.0,365.0,365.0
16606,16628,5142110081,2010-03-08,X OFFICE DEPOT #1,P,495.9,0,TN,38118.0,930090121224,...,495.9,1.0,495.9,1.0,495.9,365.0,1.0,365.0,365.0,365.0
16778,16801,5142110081,2010-03-08,X FRANKLIN COVEY,P,636.2,0,TN,38118.0,930090121224,...,318.1,2.0,318.1,2.0,318.1,0.0,0.0,0.0,0.0,0.0
89137,89482,5142110081,2010-11-26,FRANKLIN COVEY COMPANY,P,636.2,0,UT,84119.0,2094330000009,...,636.2,1.0,636.2,1.0,636.2,263.0,2.0,365.0,365.0,365.0
95620,95973,5142110081,2010-12-27,OFFICE DEPOT #1078,P,495.9,0,WA,98032.0,4503082412500,...,495.9,1.0,495.9,1.0,495.9,31.0,5.0,365.0,365.0,365.0

In [66]:
# velocity
roll = ['7d','14d','30d']
for r in roll:
    group = [['Cardnum'],['Merchnum']]
    for g in group:
        a = data_sorted1.groupby(g).rolling('d', on = 'Date')['Amount'].sum().reset_index()
        b = a.groupby(g).rolling(r, on = 'Date')['Amount'].mean().reset_index()
        
        name = str(g) + '_' + r + 'velo_sum'
        g.append('Date')
        a = a.sort_values(g)
        b = b.sort_values(g)
        data_sorted1 = data_sorted1.sort_values(g)
        data_sorted1[name] = a['Amount']/b['Amount']

In [67]:
# velocity
roll = ['7d','14d','30d']
for r in roll:
    group = [['Cardnum'],['Merchnum']]
    for g in group:
        a = data_sorted1.groupby(g).rolling('d', on = 'Date')['Amount'].count().reset_index()
        b = a.groupby(g).rolling(r, on = 'Date')['Amount'].mean().reset_index()
        
        name = str(g) + '_' + r + 'velo_count'
        g.append('Date')
        a = a.sort_values(g)
        b = b.sort_values(g)
        data_sorted1 = data_sorted1.sort_values(g)
        data_sorted1[name] = a['Amount']/b['Amount']

# OOT

In [68]:
data = data_sorted1[data_sorted1['Recnum']<= 84299]
data.shape

(83970, 277)

In [69]:
list(data.columns.values)

['Recnum',
 'Cardnum',
 'Date',
 'Merch description',
 'Transtype',
 'Amount',
 'Fraud',
 'Merch state',
 'Merch zip',
 'Merchnum',
 'mean_Cardnum_1d',
 'Actual/mean_Cardnum_1d',
 'mean_Cardnum_3d',
 'Actual/mean_Cardnum_3d',
 'mean_Cardnum_7d',
 'Actual/mean_Cardnum_7d',
 'mean_Cardnum_14d',
 'Actual/mean_Cardnum_14d',
 'mean_Cardnum_30d',
 'Actual/mean_Cardnum_30d',
 'max_Cardnum_1d',
 'Actual/max_Cardnum_1d',
 'max_Cardnum_3d',
 'Actual/max_Cardnum_3d',
 'max_Cardnum_7d',
 'Actual/max_Cardnum_7d',
 'max_Cardnum_14d',
 'Actual/max_Cardnum_14d',
 'max_Cardnum_30d',
 'Actual/max_Cardnum_30d',
 'median_Cardnum_1d',
 'Actual/median_Cardnum_1d',
 'median_Cardnum_3d',
 'Actual/median_Cardnum_3d',
 'median_Cardnum_7d',
 'Actual/median_Cardnum_7d',
 'median_Cardnum_14d',
 'Actual/median_Cardnum_14d',
 'median_Cardnum_30d',
 'Actual/median_Cardnum_30d',
 'sum_Cardnum_1d',
 'Actual/sum_Cardnum_1d',
 'sum_Cardnum_3d',
 'Actual/sum_Cardnum_3d',
 'sum_Cardnum_7d',
 'Actual/sum_Cardnum_7d',
 'sum_Cardnum_14d',
 'Actual/sum_Cardnum_14d',
 'sum_Cardnum_30d',
 'Actual/sum_Cardnum_30d',
 'count_Cardnum_1d',
 'Actual/count_Cardnum_1d',
 'count_Cardnum_3d',
 'Actual/count_Cardnum_3d',
 'count_Cardnum_7d',
 'Actual/count_Cardnum_7d',
 'count_Cardnum_14d',
 'Actual/count_Cardnum_14d',
 'count_Cardnum_30d',
 'Actual/count_Cardnum_30d',
 'mean_Merchnum_1d',
 'Actual/mean_Merchnum_1d',
 'mean_Merchnum_3d',
 'Actual/mean_Merchnum_3d',
 'mean_Merchnum_7d',
 'Actual/mean_Merchnum_7d',
 'mean_Merchnum_14d',
 'Actual/mean_Merchnum_14d',
 'mean_Merchnum_30d',
 'Actual/mean_Merchnum_30d',
 'max_Merchnum_1d',
 'Actual/max_Merchnum_1d',
 'max_Merchnum_3d',
 'Actual/max_Merchnum_3d',
 'max_Merchnum_7d',
 'Actual/max_Merchnum_7d',
 'max_Merchnum_14d',
 'Actual/max_Merchnum_14d',
 'max_Merchnum_30d',
 'Actual/max_Merchnum_30d',
 'median_Merchnum_1d',
 'Actual/median_Merchnum_1d',
 'median_Merchnum_3d',
 'Actual/median_Merchnum_3d',
 'median_Merchnum_7d',
 'Actual/median_Merchnum_7d',
 'median_Merchnum_14d',
 'Actual/median_Merchnum_14d',
 'median_Merchnum_30d',
 'Actual/median_Merchnum_30d',
 'sum_Merchnum_1d',
 'Actual/sum_Merchnum_1d',
 'sum_Merchnum_3d',
 'Actual/sum_Merchnum_3d',
 'sum_Merchnum_7d',
 'Actual/sum_Merchnum_7d',
 'sum_Merchnum_14d',
 'Actual/sum_Merchnum_14d',
 'sum_Merchnum_30d',
 'Actual/sum_Merchnum_30d',
 'count_Merchnum_1d',
 'Actual/count_Merchnum_1d',
 'count_Merchnum_3d',
 'Actual/count_Merchnum_3d',
 'count_Merchnum_7d',
 'Actual/count_Merchnum_7d',
 'count_Merchnum_14d',
 'Actual/count_Merchnum_14d',
 'count_Merchnum_30d',
 'Actual/count_Merchnum_30d',
 'mean_Cardnum_Merchnum_1d',
 'Actual/mean_Cardnum_Merchnum_1d',
 'mean_Cardnum_Merchnum_3d',
 'Actual/mean_Cardnum_Merchnum_3d',
 'mean_Cardnum_Merchnum_7d',
 'Actual/mean_Cardnum_Merchnum_7d',
 'mean_Cardnum_Merchnum_14d',
 'Actual/mean_Cardnum_Merchnum_14d',
 'mean_Cardnum_Merchnum_30d',
 'Actual/mean_Cardnum_Merchnum_30d',
 'max_Cardnum_Merchnum_1d',
 'Actual/max_Cardnum_Merchnum_1d',
 'max_Cardnum_Merchnum_3d',
 'Actual/max_Cardnum_Merchnum_3d',
 'max_Cardnum_Merchnum_7d',
 'Actual/max_Cardnum_Merchnum_7d',
 'max_Cardnum_Merchnum_14d',
 'Actual/max_Cardnum_Merchnum_14d',
 'max_Cardnum_Merchnum_30d',
 'Actual/max_Cardnum_Merchnum_30d',
 'median_Cardnum_Merchnum_1d',
 'Actual/median_Cardnum_Merchnum_1d',
 'median_Cardnum_Merchnum_3d',
 'Actual/median_Cardnum_Merchnum_3d',
 'median_Cardnum_Merchnum_7d',
 'Actual/median_Cardnum_Merchnum_7d',
 'median_Cardnum_Merchnum_14d',
 'Actual/median_Cardnum_Merchnum_14d',
 'median_Cardnum_Merchnum_30d',
 'Actual/median_Cardnum_Merchnum_30d',
 'sum_Cardnum_Merchnum_1d',
 'Actual/sum_Cardnum_Merchnum_1d',
 'sum_Cardnum_Merchnum_3d',
 'Actual/sum_Cardnum_Merchnum_3d',
 'sum_Cardnum_Merchnum_7d',
 'Actual/sum_Cardnum_Merchnum_7d',
 'sum_Cardnum_Merchnum_14d',
 'Actual/sum_Cardnum_Merchnum_14d',
 'sum_Cardnum_Merchnum_30d',
 'Actual/sum_Cardnum_Merchnum_30d',
 'count_Cardnum_Merchnum_1d',
 'Actual/count_Cardnum_Merchnum_1d',
 'count_Cardnum_Merchnum_3d',
 'Actual/count_Cardnum_Merchnum_3d',
 'count_Cardnum_Merchnum_7d',
 'Actual/count_Cardnum_Merchnum_7d',
 'count_Cardnum_Merchnum_14d',
 'Actual/count_Cardnum_Merchnum_14d',
 'count_Cardnum_Merchnum_30d',
 'Actual/count_Cardnum_Merchnum_30d',
 'mean_Cardnum_Merch zip_1d',
 'Actual/mean_Cardnum_Merch zip_1d',
 'mean_Cardnum_Merch zip_3d',
 'Actual/mean_Cardnum_Merch zip_3d',
 'mean_Cardnum_Merch zip_7d',
 'Actual/mean_Cardnum_Merch zip_7d',
 'mean_Cardnum_Merch zip_14d',
 'Actual/mean_Cardnum_Merch zip_14d',
 'mean_Cardnum_Merch zip_30d',
 'Actual/mean_Cardnum_Merch zip_30d',
 'max_Cardnum_Merch zip_1d',
 'Actual/max_Cardnum_Merch zip_1d',
 'max_Cardnum_Merch zip_3d',
 'Actual/max_Cardnum_Merch zip_3d',
 'max_Cardnum_Merch zip_7d',
 'Actual/max_Cardnum_Merch zip_7d',
 'max_Cardnum_Merch zip_14d',
 'Actual/max_Cardnum_Merch zip_14d',
 'max_Cardnum_Merch zip_30d',
 'Actual/max_Cardnum_Merch zip_30d',
 'median_Cardnum_Merch zip_1d',
 'Actual/median_Cardnum_Merch zip_1d',
 'median_Cardnum_Merch zip_3d',
 'Actual/median_Cardnum_Merch zip_3d',
 'median_Cardnum_Merch zip_7d',
 'Actual/median_Cardnum_Merch zip_7d',
 'median_Cardnum_Merch zip_14d',
 'Actual/median_Cardnum_Merch zip_14d',
 'median_Cardnum_Merch zip_30d',
 'Actual/median_Cardnum_Merch zip_30d',
 'sum_Cardnum_Merch zip_1d',
 'Actual/sum_Cardnum_Merch zip_1d',
 'sum_Cardnum_Merch zip_3d',
 'Actual/sum_Cardnum_Merch zip_3d',
 'sum_Cardnum_Merch zip_7d',
 'Actual/sum_Cardnum_Merch zip_7d',
 'sum_Cardnum_Merch zip_14d',
 'Actual/sum_Cardnum_Merch zip_14d',
 'sum_Cardnum_Merch zip_30d',
 'Actual/sum_Cardnum_Merch zip_30d',
 'count_Cardnum_Merch zip_1d',
 'Actual/count_Cardnum_Merch zip_1d',
 'count_Cardnum_Merch zip_3d',
 'Actual/count_Cardnum_Merch zip_3d',
 'count_Cardnum_Merch zip_7d',
 'Actual/count_Cardnum_Merch zip_7d',
 'count_Cardnum_Merch zip_14d',
 'Actual/count_Cardnum_Merch zip_14d',
 'count_Cardnum_Merch zip_30d',
 'Actual/count_Cardnum_Merch zip_30d',
 'mean_Cardnum_Merch state_1d',
 'Actual/mean_Cardnum_Merch state_1d',
 'mean_Cardnum_Merch state_3d',
 'Actual/mean_Cardnum_Merch state_3d',
 'mean_Cardnum_Merch state_7d',
 'Actual/mean_Cardnum_Merch state_7d',
 'mean_Cardnum_Merch state_14d',
 'Actual/mean_Cardnum_Merch state_14d',
 'mean_Cardnum_Merch state_30d',
 'Actual/mean_Cardnum_Merch state_30d',
 'max_Cardnum_Merch state_1d',
 'Actual/max_Cardnum_Merch state_1d',
 'max_Cardnum_Merch state_3d',
 'Actual/max_Cardnum_Merch state_3d',
 'max_Cardnum_Merch state_7d',
 'Actual/max_Cardnum_Merch state_7d',
 'max_Cardnum_Merch state_14d',
 'Actual/max_Cardnum_Merch state_14d',
 'max_Cardnum_Merch state_30d',
 'Actual/max_Cardnum_Merch state_30d',
 'median_Cardnum_Merch state_1d',
 'Actual/median_Cardnum_Merch state_1d',
 'median_Cardnum_Merch state_3d',
 'Actual/median_Cardnum_Merch state_3d',
 'median_Cardnum_Merch state_7d',
 'Actual/median_Cardnum_Merch state_7d',
 'median_Cardnum_Merch state_14d',
 'Actual/median_Cardnum_Merch state_14d',
 'median_Cardnum_Merch state_30d',
 'Actual/median_Cardnum_Merch state_30d',
 'sum_Cardnum_Merch state_1d',
 'Actual/sum_Cardnum_Merch state_1d',
 'sum_Cardnum_Merch state_3d',
 'Actual/sum_Cardnum_Merch state_3d',
 'sum_Cardnum_Merch state_7d',
 'Actual/sum_Cardnum_Merch state_7d',
 'sum_Cardnum_Merch state_14d',
 'Actual/sum_Cardnum_Merch state_14d',
 'sum_Cardnum_Merch state_30d',
 'Actual/sum_Cardnum_Merch state_30d',
 'count_Cardnum_Merch state_1d',
 'Actual/count_Cardnum_Merch state_1d',
 'count_Cardnum_Merch state_3d',
 'Actual/count_Cardnum_Merch state_3d',
 'count_Cardnum_Merch state_7d',
 'Actual/count_Cardnum_Merch state_7d',
 'count_Cardnum_Merch state_14d',
 'Actual/count_Cardnum_Merch state_14d',
 'count_Cardnum_Merch state_30d',
 'Actual/count_Cardnum_Merch state_30d',
 'Days_since_per_Cardnum',
 'Days_since_per_Merchnum',
 'Days_since_per_Cardnum_Merchnum',
 'Days_since_per_Cardnum_Merch zip',
 'Days_since_per_Cardnum_Merch state',
 "['Cardnum']_7dvelo_sum",
 "['Merchnum']_7dvelo_sum",
 "['Cardnum']_14dvelo_sum",
 "['Merchnum']_14dvelo_sum",
 "['Cardnum']_30dvelo_sum",
 "['Merchnum']_30dvelo_sum",
 "['Cardnum']_7dvelo_count",
 "['Merchnum']_7dvelo_count",
 "['Cardnum']_14dvelo_count",
 "['Merchnum']_14dvelo_count",
 "['Cardnum']_30dvelo_count",
 "['Merchnum']_30dvelo_count"]

In [70]:
data.drop(['Recnum'], axis=1, inplace = True)
data['RANDOM'] = np.random.ranf(len(data))
data.shape

/Users/kailinghung/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)
/Users/kailinghung/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

(83970, 277)

In [71]:
data.head()

,Cardnum,Date,Merch description,Transtype,Amount,Fraud,Merch state,Merch zip,Merchnum,mean_Cardnum_1d,...,['Merchnum']_14dvelo_sum,['Cardnum']_30dvelo_sum,['Merchnum']_30dvelo_sum,['Cardnum']_7dvelo_count,['Merchnum']_7dvelo_count,['Cardnum']_14dvelo_count,['Merchnum']_14dvelo_count,['Cardnum']_30dvelo_count,['Merchnum']_30dvelo_count,RANDOM
813,5142230669,2010-01-06,TOMMY'S TRAILERS,P,48.97,0,OK,74820.0,0,48.97,...,1.000000,1.093525,1.000000,1.333333,1.000000,1.333333,1.000000,1.333333,1.000000,0.273444
1398,5142159706,2010-01-07,INTERACTIVE SOFTWARE S,P,460.00,0,TN,38118.0,0,460.00,...,1.531655,1.708851,1.531655,1.777778,1.857143,1.945946,1.857143,1.945946,1.857143,0.156751
1217,5142231496,2010-01-07,TOMMY'S TRAILERS,P,87.02,0,OK,74820.0,0,87.02,...,1.000000,2.811255,1.000000,1.666667,1.000000,1.944444,1.000000,1.944444,1.000000,0.351046
2163,5142141358,2010-01-11,REED BUSINESS PUBLISHI,P,110.00,0,TN,38118.0,0,181.21,...,1.492072,2.248284,1.492072,1.998414,1.500000,2.115987,1.500000,2.115987,1.500000,0.283636
2084,5142243966,2010-01-11,ESTUARINE RESEARCH FDRTN,P,25.00,0,MD,20676.0,0,25.00,...,1.798172,2.080235,1.798172,1.500000,1.965517,1.500000,1.965517,1.714286,1.965517,0.650413

In [72]:
data = data.iloc[:,5:]

In [73]:
data.head()

,Fraud,Merch state,Merch zip,Merchnum,mean_Cardnum_1d,Actual/mean_Cardnum_1d,mean_Cardnum_3d,Actual/mean_Cardnum_3d,mean_Cardnum_7d,Actual/mean_Cardnum_7d,...,['Merchnum']_14dvelo_sum,['Cardnum']_30dvelo_sum,['Merchnum']_30dvelo_sum,['Cardnum']_7dvelo_count,['Merchnum']_7dvelo_count,['Cardnum']_14dvelo_count,['Merchnum']_14dvelo_count,['Cardnum']_30dvelo_count,['Merchnum']_30dvelo_count,RANDOM
813,0,OK,74820.0,0,48.97,1.000000,48.970000,1.000000,48.97,1.000000,...,1.000000,1.093525,1.000000,1.333333,1.000000,1.333333,1.000000,1.333333,1.000000,0.273444
1398,0,TN,38118.0,0,460.00,1.000000,221.656667,2.075282,186.24,2.469931,...,1.531655,1.708851,1.531655,1.777778,1.857143,1.945946,1.857143,1.945946,1.857143,0.156751
1217,0,OK,74820.0,0,87.02,1.000000,99.510000,0.874485,99.51,0.874485,...,1.000000,2.811255,1.000000,1.666667,1.000000,1.944444,1.000000,1.944444,1.000000,0.351046
2163,0,TN,38118.0,0,181.21,0.607031,181.210000,0.607031,136.76,0.804329,...,1.492072,2.248284,1.492072,1.998414,1.500000,2.115987,1.500000,2.115987,1.500000,0.283636
2084,0,MD,20676.0,0,25.00,1.000000,25.000000,1.000000,72.00,0.347222,...,1.798172,2.080235,1.798172,1.500000,1.965517,1.500000,1.965517,1.714286,1.965517,0.650413

In [74]:
data.drop(['Merch state'], axis=1, inplace = True)

In [75]:
data.drop(['Merch zip'], axis=1, inplace = True)
data.drop(['Merchnum'], axis=1, inplace = True)

In [76]:
import scipy.stats as sps

In [77]:
goods = data[data['Fraud']== 0]

In [78]:
bads = data[data['Fraud']== 1]

In [79]:
data.head()

,Fraud,mean_Cardnum_1d,Actual/mean_Cardnum_1d,mean_Cardnum_3d,Actual/mean_Cardnum_3d,mean_Cardnum_7d,Actual/mean_Cardnum_7d,mean_Cardnum_14d,Actual/mean_Cardnum_14d,mean_Cardnum_30d,...,['Merchnum']_14dvelo_sum,['Cardnum']_30dvelo_sum,['Merchnum']_30dvelo_sum,['Cardnum']_7dvelo_count,['Merchnum']_7dvelo_count,['Cardnum']_14dvelo_count,['Merchnum']_14dvelo_count,['Cardnum']_30dvelo_count,['Merchnum']_30dvelo_count,RANDOM
813,0,48.97,1.000000,48.970000,1.000000,48.97,1.000000,48.97,1.000000,48.97,...,1.000000,1.093525,1.000000,1.333333,1.000000,1.333333,1.000000,1.333333,1.000000,0.273444
1398,0,460.00,1.000000,221.656667,2.075282,186.24,2.469931,186.24,2.469931,186.24,...,1.531655,1.708851,1.531655,1.777778,1.857143,1.945946,1.857143,1.945946,1.857143,0.156751
1217,0,87.02,1.000000,99.510000,0.874485,99.51,0.874485,99.51,0.874485,99.51,...,1.000000,2.811255,1.000000,1.666667,1.000000,1.944444,1.000000,1.944444,1.000000,0.351046
2163,0,181.21,0.607031,181.210000,0.607031,136.76,0.804329,136.76,0.804329,136.76,...,1.492072,2.248284,1.492072,1.998414,1.500000,2.115987,1.500000,2.115987,1.500000,0.283636
2084,0,25.00,1.000000,25.000000,1.000000,72.00,0.347222,72.00,0.347222,72.00,...,1.798172,2.080235,1.798172,1.500000,1.965517,1.500000,1.965517,1.714286,1.965517,0.650413

In [80]:
KS = pd.DataFrame({'field':list(data.columns.values), 'ks':[0] * len(data.columns), 'FDR':[0] * len(data.columns)})

In [81]:
i = 0
for column in data:
    KS.loc[i,'ks'] = sps.ks_2samp(goods[column], bads[column])[0]
    i+=1

In [82]:
KS.sort_values(by = ['ks'], ascending = False, inplace = True)
KS.head()

                         field        ks  FDR
0                        Fraud  1.000000    0
185   sum_Cardnum_Merch zip_7d  0.682790    0
135    sum_Cardnum_Merchnum_7d  0.678670    0
137   sum_Cardnum_Merchnum_14d  0.674075    0
187  sum_Cardnum_Merch zip_14d  0.673143    0

In [83]:
numbads = len(data[data['Fraud']== 1])

In [84]:
%%time
topRows = int(round(len(data)*0.03)) # 3% of population
j = 0

for column in data:
    temp1 = data.sort_values(column, ascending = False).head(topRows)
    temp2 = data.sort_values(column, ascending = True).head(topRows)
    needed1 = temp1.loc[:,'Fraud']
    needed2 = temp2.loc[:, 'Fraud']
    FDR1 = sum(needed1)/numbads
    FDR2 = sum(needed2)/numbads
    FDRate = np.maximum(FDR1, FDR2)
    
    KS.loc[j,'FDR'] = FDRate
    j+=1

CPU times: user 1min 17s, sys: 50.6 s, total: 2min 7s
Wall time: 2min 10s

In [85]:
KS.sort_values(by = ['ks'], ascending = False, inplace = True)
KS

                                   field        ks       FDR
0                                  Fraud  1.000000  1.000000
185             sum_Cardnum_Merch zip_7d  0.682790  0.638636
135              sum_Cardnum_Merchnum_7d  0.678670  0.637500
137             sum_Cardnum_Merchnum_14d  0.674075  0.629545
187            sum_Cardnum_Merch zip_14d  0.673143  0.632955
235           sum_Cardnum_Merch state_7d  0.669064  0.614773
183             sum_Cardnum_Merch zip_3d  0.668037  0.615909
233           sum_Cardnum_Merch state_3d  0.667027  0.605682
237          sum_Cardnum_Merch state_14d  0.663763  0.536364
133              sum_Cardnum_Merchnum_3d  0.663223  0.609091
189            sum_Cardnum_Merch zip_30d  0.656096  0.559091
139             sum_Cardnum_Merchnum_30d  0.655414  0.561364
167            max_Cardnum_Merch zip_14d  0.653603  0.470455
165             max_Cardnum_Merch zip_7d  0.651655  0.455682
117             max_Cardnum_Merchnum_14d  0.651088  0.468182
169            max_Cardnum_Merch zip_30d  0.647540  0.477273
119             max_Cardnum_Merchnum_30d  0.647198  0.467045
115              max_Cardnum_Merchnum_7d  0.646995  0.454545
215           max_Cardnum_Merch state_7d  0.646976  0.478409
213           max_Cardnum_Merch state_3d  0.638037  0.451136
163             max_Cardnum_Merch zip_3d  0.635577  0.461364
239          sum_Cardnum_Merch state_30d  0.631673  0.450000
113              max_Cardnum_Merchnum_3d  0.630709  0.461364
217          max_Cardnum_Merch state_14d  0.629706  0.479545
61                       max_Merchnum_1d  0.612066  0.402273
181             sum_Cardnum_Merch zip_1d  0.607032  0.550000
131              sum_Cardnum_Merchnum_1d  0.604887  0.552273
231           sum_Cardnum_Merch state_1d  0.604656  0.550000
161             max_Cardnum_Merch zip_1d  0.599677  0.410227
211           max_Cardnum_Merch state_1d  0.598255  0.411364
..                                   ...       ...       ...
68               Actual/max_Merchnum_14d  0.162460  0.027273
180  Actual/median_Cardnum_Merch zip_30d  0.161573  0.055682
22              Actual/median_Cardnum_1d  0.160385  0.062500
240   Actual/sum_Cardnum_Merch state_30d  0.159474  0.026136
202   Actual/mean_Cardnum_Merch state_1d  0.159122  0.067045
52               Actual/mean_Merchnum_1d  0.157027  0.056818
152     Actual/mean_Cardnum_Merch zip_1d  0.156641  0.086364
88               Actual/sum_Merchnum_14d  0.155872  0.010227
102      Actual/mean_Cardnum_Merchnum_1d  0.155089  0.101136
172   Actual/median_Cardnum_Merch zip_1d  0.151054  0.082955
122    Actual/median_Cardnum_Merchnum_1d  0.150895  0.096591
16                 Actual/max_Cardnum_7d  0.140086  0.025000
64                Actual/max_Merchnum_3d  0.131584  0.014773
220   Actual/max_Cardnum_Merch state_30d  0.125071  0.018182
38                Actual/sum_Cardnum_14d  0.124538  0.012500
66                Actual/max_Merchnum_7d  0.122222  0.017045
62                Actual/max_Merchnum_1d  0.115283  0.038636
264            ['Cardnum']_14dvelo_count  0.087068  0.068182
266            ['Cardnum']_30dvelo_count  0.080367  0.064773
256               ['Cardnum']_7dvelo_sum  0.078722  0.020455
262             ['Cardnum']_7dvelo_count  0.073689  0.077273
263            ['Merchnum']_7dvelo_count  0.054043  0.031818
267           ['Merchnum']_30dvelo_count  0.049330  0.054545
260              ['Cardnum']_30dvelo_sum  0.040893  0.026136
258              ['Cardnum']_14dvelo_sum  0.039763  0.030682
265           ['Merchnum']_14dvelo_count  0.034752  0.055682
257              ['Merchnum']_7dvelo_sum  0.031415  0.032955
261             ['Merchnum']_30dvelo_sum  0.022459  0.031818
268                               RANDOM  0.022022  0.030682
259             ['Merchnum']_14dvelo_sum  0.020744  0.036364

[269 rows x 3 columns]

In [89]:
data_hw = pd.DataFrame(KS)
data_hw.head()

     RankKS                      field        ks       FDR
0         1                      Fraud  1.000000  1.000000
185       2   sum_Cardnum_Merch zip_7d  0.682790  0.638636
135       3    sum_Cardnum_Merchnum_7d  0.678670  0.637500
137       4   sum_Cardnum_Merchnum_14d  0.674075  0.629545
187       5  sum_Cardnum_Merch zip_14d  0.673143  0.632955

In [1]:
data_hw.insert(0, 'RankKS', range(1, 1 + len(data_hw)))
data_hw.sort_values(by = ['FDR'], ascending = False, inplace = True)
data_hw.insert(0, 'RankFDR', range(1, 1 + len(data_hw)))
data_hw['combined']=data_hw['RankFDR']*1/2+data_hw['RankKS']*1/2
data_hw.sort_values(by = ['combined'], ascending = True, inplace = True)
data_filter=data_hw.iloc[135:,]
data_filter

In [40]:
colname = data_filter["field"]
colname = colname.tolist()
colname

['Actual/median_Cardnum_30d',
 'count_Cardnum_Merch state_1d',
 'Actual/count_Cardnum_Merch zip_14d',
 'Actual/count_Merchnum_30d',
 'Actual/count_Cardnum_Merch zip_7d',
 'Actual/count_Merchnum_14d',
 'Actual/max_Cardnum_Merchnum_3d',
 'count_Cardnum_Merchnum_1d',
 'count_Cardnum_Merch zip_7d',
 'Actual/count_Cardnum_7d',
 'count_Cardnum_Merch zip_1d',
 'Actual/sum_Cardnum_Merchnum_1d',
 'Days_since_per_Cardnum_Merchnum',
 'Actual/sum_Cardnum_Merch state_1d',
 'Actual/count_Cardnum_Merch state_7d',
 'Actual/sum_Cardnum_Merch zip_1d',
 'Actual/count_Cardnum_3d',
 'Actual/count_Cardnum_Merch state_30d',
 'Actual/max_Cardnum_Merch zip_3d',
 'Actual/count_Merchnum_7d',
 'Actual/count_Cardnum_Merch state_14d',
 'Actual/sum_Cardnum_Merchnum_7d',
 'Actual/count_Merchnum_3d',
 'Actual/mean_Cardnum_14d',
 'Actual/sum_Cardnum_Merch zip_7d',
 'Actual/max_Cardnum_Merchnum_7d',
 'Actual/max_Cardnum_Merchnum_1d',
 'Actual/median_Cardnum_14d',
 'Actual/max_Cardnum_Merch state_3d',
 'count_Cardnum_14d',
 'Actual/max_Cardnum_30d',
 'Actual/max_Cardnum_Merch zip_1d',
 'Actual/sum_Cardnum_Merch state_7d',
 'Actual/max_Cardnum_Merch zip_7d',
 'Days_since_per_Cardnum_Merch zip',
 'Actual/sum_Cardnum_1d',
 'count_Cardnum_Merch state_14d',
 'Actual/median_Cardnum_7d',
 'count_Cardnum_Merchnum_14d',
 'Actual/max_Cardnum_Merch state_1d',
 'Actual/median_Cardnum_Merchnum_7d',
 'Actual/median_Merchnum_3d',
 'Actual/mean_Cardnum_7d',
 'Actual/median_Cardnum_Merch zip_7d',
 'Actual/mean_Merchnum_3d',
 'Actual/median_Cardnum_Merchnum_14d',
 'Actual/median_Cardnum_Merch state_7d',
 'Actual/sum_Cardnum_Merchnum_14d',
 'Actual/sum_Cardnum_Merch zip_14d',
 'Actual/max_Cardnum_Merch state_7d',
 'count_Cardnum_Merch zip_14d',
 'Actual/median_Cardnum_Merch zip_14d',
 'count_Cardnum_Merch state_30d',
 'Actual/median_Cardnum_Merchnum_3d',
 'Actual/max_Cardnum_Merchnum_14d',
 'Actual/mean_Cardnum_Merch state_7d',
 'Actual/mean_Cardnum_Merch state_30d',
 'count_Cardnum_Merchnum_30d',
 'Actual/max_Cardnum_Merch zip_14d',
 'Actual/sum_Cardnum_3d',
 'Actual/mean_Cardnum_Merch state_14d',
 'Actual/mean_Cardnum_Merchnum_1d',
 'Actual/mean_Cardnum_Merchnum_7d',
 'Actual/max_Cardnum_14d',
 'Actual/max_Cardnum_1d',
 'Actual/median_Cardnum_Merchnum_1d',
 'Actual/mean_Cardnum_Merchnum_3d',
 'Actual/mean_Cardnum_Merchnum_14d',
 'Actual/sum_Cardnum_Merch state_14d',
 'Actual/mean_Cardnum_Merch zip_1d',
 'count_Cardnum_Merch zip_30d',
 'Actual/mean_Cardnum_Merch zip_14d',
 'Actual/median_Cardnum_Merch zip_3d',
 'Actual/mean_Cardnum_Merch zip_7d',
 'Actual/median_Cardnum_Merch zip_1d',
 'Actual/median_Cardnum_Merch state_14d',
 'Actual/median_Cardnum_Merchnum_30d',
 'Actual/median_Cardnum_Merch state_3d',
 'Actual/median_Cardnum_Merch state_1d',
 'count_Merchnum_14d',
 'Actual/max_Cardnum_3d',
 'Actual/median_Cardnum_Merch state_30d',
 'Actual/mean_Cardnum_Merchnum_30d',
 'Actual/mean_Cardnum_Merch zip_3d',
 'Actual/sum_Cardnum_Merchnum_30d',
 'count_Cardnum_30d',
 'Actual/median_Merchnum_1d',
 'count_Merchnum_3d',
 'Actual/mean_Cardnum_Merch state_3d',
 'count_Merchnum_7d',
 "['Cardnum']_7dvelo_count",
 'Actual/mean_Cardnum_Merch zip_30d',
 'Actual/median_Cardnum_3d',
 'Actual/mean_Cardnum_3d',
 'Actual/max_Cardnum_Merchnum_30d',
 'Actual/mean_Cardnum_Merch state_1d',
 'Actual/max_Cardnum_Merch state_14d',
 'Actual/median_Cardnum_1d',
 "['Cardnum']_14dvelo_count",
 'Actual/mean_Cardnum_1d',
 'Actual/median_Cardnum_Merch zip_30d',
 'Actual/sum_Cardnum_Merch zip_30d',
 'Actual/max_Cardnum_Merch zip_30d',
 'Actual/mean_Merchnum_1d',
 'Actual/max_Merchnum_30d',
 'Actual/sum_Merchnum_3d',
 "['Cardnum']_30dvelo_count",
 'count_Merchnum_30d',
 'Days_since_per_Merchnum',
 'Actual/sum_Cardnum_7d',
 'count_Merchnum_1d',
 "['Merchnum']_30dvelo_count",
 "['Merchnum']_14dvelo_count",
 'Actual/sum_Cardnum_30d',
 'Actual/max_Merchnum_1d',
 'Actual/max_Merchnum_14d',
 'Actual/sum_Merchnum_7d',
 'Actual/sum_Merchnum_1d',
 'Actual/sum_Cardnum_Merch state_30d',
 'Actual/sum_Merchnum_30d',
 "['Merchnum']_14dvelo_sum",
 "['Merchnum']_7dvelo_count",
 'Actual/max_Cardnum_7d',
 "['Merchnum']_7dvelo_sum",
 "['Cardnum']_14dvelo_sum",
 "['Merchnum']_30dvelo_sum",
 'Actual/max_Cardnum_Merch state_30d',
 'RANDOM',
 "['Cardnum']_30dvelo_sum",
 "['Cardnum']_7dvelo_sum",
 'Actual/max_Merchnum_7d',
 'Actual/max_Merchnum_3d',
 'Actual/sum_Merchnum_14d',
 'Actual/sum_Cardnum_14d']

In [ ]:
data1 = data.drop(["Fraud",'Actual/median_Cardnum_30d',
 'count_Cardnum_Merch state_1d',
 'Actual/count_Cardnum_Merch zip_14d',
 'Actual/count_Merchnum_30d',
 'Actual/count_Cardnum_Merch zip_7d',
 'Actual/count_Merchnum_14d',
 'Actual/max_Cardnum_Merchnum_3d',
 'count_Cardnum_Merchnum_1d',
 'count_Cardnum_Merch zip_7d',
 'Actual/count_Cardnum_7d',
 'count_Cardnum_Merch zip_1d',
 'Actual/sum_Cardnum_Merchnum_1d',
 'Days_since_per_Cardnum_Merchnum',
 'Actual/sum_Cardnum_Merch state_1d',
 'Actual/count_Cardnum_Merch state_7d',
 'Actual/sum_Cardnum_Merch zip_1d',
 'Actual/count_Cardnum_3d',
 'Actual/count_Cardnum_Merch state_30d',
 'Actual/max_Cardnum_Merch zip_3d',
 'Actual/count_Merchnum_7d',
 'Actual/count_Cardnum_Merch state_14d',
 'Actual/sum_Cardnum_Merchnum_7d',
 'Actual/count_Merchnum_3d',
 'Actual/mean_Cardnum_14d',
 'Actual/sum_Cardnum_Merch zip_7d',
 'Actual/max_Cardnum_Merchnum_7d',
 'Actual/max_Cardnum_Merchnum_1d',
 'Actual/median_Cardnum_14d',
 'Actual/max_Cardnum_Merch state_3d',
 'count_Cardnum_14d',
 'Actual/max_Cardnum_30d',
 'Actual/max_Cardnum_Merch zip_1d',
 'Actual/sum_Cardnum_Merch state_7d',
 'Actual/max_Cardnum_Merch zip_7d',
 'Days_since_per_Cardnum_Merch zip',
 'Actual/sum_Cardnum_1d',
 'count_Cardnum_Merch state_14d',
 'Actual/median_Cardnum_7d',
 'count_Cardnum_Merchnum_14d',
 'Actual/max_Cardnum_Merch state_1d',
 'Actual/median_Cardnum_Merchnum_7d',
 'Actual/median_Merchnum_3d',
 'Actual/mean_Cardnum_7d',
 'Actual/median_Cardnum_Merch zip_7d',
 'Actual/mean_Merchnum_3d',
 'Actual/median_Cardnum_Merchnum_14d',
 'Actual/median_Cardnum_Merch state_7d',
 'Actual/sum_Cardnum_Merchnum_14d',
 'Actual/sum_Cardnum_Merch zip_14d',
 'Actual/max_Cardnum_Merch state_7d',
 'count_Cardnum_Merch zip_14d',
 'Actual/median_Cardnum_Merch zip_14d',
 'count_Cardnum_Merch state_30d',
 'Actual/median_Cardnum_Merchnum_3d',
 'Actual/max_Cardnum_Merchnum_14d',
 'Actual/mean_Cardnum_Merch state_7d',
 'Actual/mean_Cardnum_Merch state_30d',
 'count_Cardnum_Merchnum_30d',
 'Actual/max_Cardnum_Merch zip_14d',
 'Actual/sum_Cardnum_3d',
 'Actual/mean_Cardnum_Merch state_14d',
 'Actual/mean_Cardnum_Merchnum_1d',
 'Actual/mean_Cardnum_Merchnum_7d',
 'Actual/max_Cardnum_14d',
 'Actual/max_Cardnum_1d',
 'Actual/median_Cardnum_Merchnum_1d',
 'Actual/mean_Cardnum_Merchnum_3d',
 'Actual/mean_Cardnum_Merchnum_14d',
 'Actual/sum_Cardnum_Merch state_14d',
 'Actual/mean_Cardnum_Merch zip_1d',
 'count_Cardnum_Merch zip_30d',
 'Actual/mean_Cardnum_Merch zip_14d',
 'Actual/median_Cardnum_Merch zip_3d',
 'Actual/mean_Cardnum_Merch zip_7d',
 'Actual/median_Cardnum_Merch zip_1d',
 'Actual/median_Cardnum_Merch state_14d',
 'Actual/median_Cardnum_Merchnum_30d',
 'Actual/median_Cardnum_Merch state_3d',
 'Actual/median_Cardnum_Merch state_1d',
 'count_Merchnum_14d',
 'Actual/max_Cardnum_3d',
 'Actual/median_Cardnum_Merch state_30d',
 'Actual/mean_Cardnum_Merchnum_30d',
 'Actual/mean_Cardnum_Merch zip_3d',
 'Actual/sum_Cardnum_Merchnum_30d',
 'count_Cardnum_30d',
 'Actual/median_Merchnum_1d',
 'count_Merchnum_3d',
 'Actual/mean_Cardnum_Merch state_3d',
 'count_Merchnum_7d',
 "['Cardnum']_7dvelo_count",
 'Actual/mean_Cardnum_Merch zip_30d',
 'Actual/median_Cardnum_3d',
 'Actual/mean_Cardnum_3d',
 'Actual/max_Cardnum_Merchnum_30d',
 'Actual/mean_Cardnum_Merch state_1d',
 'Actual/max_Cardnum_Merch state_14d',
 'Actual/median_Cardnum_1d',
 "['Cardnum']_14dvelo_count",
 'Actual/mean_Cardnum_1d',
 'Actual/median_Cardnum_Merch zip_30d',
 'Actual/sum_Cardnum_Merch zip_30d',
 'Actual/max_Cardnum_Merch zip_30d',
 'Actual/mean_Merchnum_1d',
 'Actual/max_Merchnum_30d',
 'Actual/sum_Merchnum_3d',
 "['Cardnum']_30dvelo_count",
 'count_Merchnum_30d',
 'Days_since_per_Merchnum',
 'Actual/sum_Cardnum_7d',
 'count_Merchnum_1d',
 "['Merchnum']_30dvelo_count",
 "['Merchnum']_14dvelo_count",
 'Actual/sum_Cardnum_30d',
 'Actual/max_Merchnum_1d',
 'Actual/max_Merchnum_14d',
 'Actual/sum_Merchnum_7d',
 'Actual/sum_Merchnum_1d',
 'Actual/sum_Cardnum_Merch state_30d',
 'Actual/sum_Merchnum_30d',
 "['Merchnum']_14dvelo_sum",
 "['Merchnum']_7dvelo_count",
 'Actual/max_Cardnum_7d',
 "['Merchnum']_7dvelo_sum",
 "['Cardnum']_14dvelo_sum",
 "['Merchnum']_30dvelo_sum",
 'Actual/max_Cardnum_Merch state_30d',
 'RANDOM',
 "['Cardnum']_30dvelo_sum",
 "['Cardnum']_7dvelo_sum",
 'Actual/max_Merchnum_7d',
 'Actual/max_Merchnum_3d',
 'Actual/sum_Merchnum_14d',
 'Actual/sum_Cardnum_14d'], axis=1, inplace = True)

In [ ]:
normalized_data = (data1- data1.mean()) / data1.std()